<!-- Container for Login Page -->
<div class="container">
	<div class="form-container">
		<div class="title">Login</div>
		<form [formGroup]="loginForm">
			<!-- Email and Password Field -->
		<mat-form-field appearance = "outline">
			<mat-label>Enter your email</mat-label>	
			<!-- With the Formcontrol, it is checked, if the entered email is valid -->
			<input matInput formControlName="email"/>
		</mat-form-field>
		<mat-form-field appearance = "outline">
			<mat-label>Enter your password</mat-label>	
			<!-- With the Formcontrol, it is checked, if the password is valid -->
			<input type="password" matInput formControlName="password"/>
		</mat-form-field>
		</form>
		<!-- Submit Button -->
		<div class="buttons-container">
			<!-- Login Button calls login() function. Works only if the email and password are valid -->
			<button mat-raised-button [disabled]="loginForm.invalid" (click)="login()" class="login-button">
				Login
			</button>
			<p>OR</p>
			<!-- Redirecting to Create-Account Page with Button -->
			<button routerLink="/create-account" mat-button>Create accout</button>
		</div>
	</div>
</div>