<!-- Nav Container -->
<div class="nav-container">
    <div class="branding">
		<!-- Heading shown at the very top op the App -->
        Webengineering Project 2021
    </div>
    <div class="account">
		<!-- Icon for menue, using the Icon module found in material.angular.io -->
		<!-- Icon "Account_circle" is used to display an Icon for the profile -->
		<!-- The menue to where the user can logout is displayed when clicking on the profile button-->
        <button mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon> </button>
        <mat-menu #menu="matMenu">
			<!-- Button calls the logout function -->
            <button (click)="logout()" mat-menu-item>Logout</button>
          </mat-menu>
          
    </div>
</div>